{% extends "head.html" %}
{% block content %}
  <!--/w3l-inner-page-breadcrumb-->
  <section class="w3l-inner-page-breadcrumb">
    <div class="breadcrumb-bg py-5">
      <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
        <h2 class="title pt-5">Contact</h2>
        <ul class="breadcrumbs-custom-path mt-3 text-center">
          <li><a href="/">Home</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Contact </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="w3l-inner-page-breadcrumb">
<div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3" >
  <style>
  table,th,td{
    border:1px solid black;
    border-collapse: collapse;
  }
</style>
  <table>
    <tr>
      <th>S.No</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Phone</th>
      <th>Image</th>
    </tr>
    {% for x in datas %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{x.uname}}</td>
      <td>{{x.email}}</td>
      <td>{{x.password}}</td>
      <td>{{x.phone}}</td>
      <td>{{x.image}}</td>
      <td><a href="/update/?regid={{x.id}}"><i class="fa fa-edit"></i></a> </td>
      <td><a href="/delete/?regid={{x.id}}"><i class="fa fa-trash"></i></a> </td>

    </tr>

{% endfor %}
  </table>
</div>
</section>
  {% endblock %}